<!DOCTYPE html>
<html lang="ja ">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>商品リスト</h1>
    <div>
        <div>こちらは最新機種です</div>
        <a href="https://www.apple.com/jp/shop/buy-iphone/iphone-15-pro" target="_blank">
      <img style="width: 10% " src="/static/iphone15promax.jpeg"  />
    </a>
    </div>
    <div>
        <div>こちらはコスパ抜群機種です</div>
       <a href="https://www.apple.com/jp/shop/buy-iphone/iphone-se" target="_blank">
      <img style="width: 10% " src="/static/iphonese.jpeg"/>
    </a>
    </div>

</body>
</html>
