<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h2>てるくにさいと</h2>
    <div>ああああ
        <a href="https://www.youtube.com/watch?v=AGmkG0wJ8LA&t=810s">クリックで移動(サプー)</a>
        </div>

    <h2>登録お願いいたします</h2>
    <div>
        <a href="/users/register" target="_blank">登録
        </a>
    </div>
    <div>
        <a href="/get/news">その他</a>
        </div>
    <div>ブロッグ要素は単特で一行占めるが</div>
    <span>時間</span>
    <span>2023年10月</span>
    <div>
        <a href="https://grayraven.jp/" target="_blank"><img style="height: 200px" src="/static/abc.jpeg" />
        </a>
    </div>

    <h3>商品はこっちです</h3>
    <div>
        <a href="/goods/list" target="_blank">商品ページへ</a>
    </div>
    <h3>入力内容</h3>
    <input type="text" />
    <input type="password" />
    <input type="file" />
    <input type="radio" name="n1"/>男
    <input type="radio" name="n1"/>女
    <input type="checkbox" />狩猟笛
    <input type="checkbox" />ランス
    <input type="checkbox" />ガンランス
    <input type="checkbox" />チャージアックス
    <input type="button" value="アップロード" />
    <input type="submit" value="アップロード2" />

    <h2>ドロップダウンリスト</h2>
    <select>
        <option>狩猟笛</option>
        <option>ランス</option>
        <option>太刀</option>
    </select>

    <h1>文章入力</h1>
    <textarea rows="5"></textarea>

    <h2>狩猟武器管理</h2>
    <div>
        <a href="/users/list" target="_blank">
            <img style="width: 50px" src="/static/userslist_gear.png" >
        </a>
    </div>
</body>
</html>
