<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>武器在庫一覧表</h1>
    <table border="2">
        <thead>
            <tr>
                <th>ID</th>
                <th>名前</th>
                <th>長さ</th>
                <th>写真</th>
                <th>詳細情報</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>10</td>
                <td>笛</td>
                <td>10ｍ</td>
                <td>
                    <img src="/static/piccolo.png" style="height:30px"/>
                </td>
                <td>
                    <a href="https://www.youtube.com/watch?v=W6b1M-YYlUY" target="_blank">クリック
                    </a>
                </td>
                <td>
                    EDI
                    DEL
                </td>
            </tr>
            <tr>
                <td>11</td>
                <td>ランス</td>
                <td>12ｍ</td>
                <td>
                    <img src="/static/lance.png" style="height:30px"/>
                </td>
                <td>
                    <a href=https://www.youtube.com/watch?v=Rdobr2s4fr4 target="_blank">クリック
                    </a>
                </td>
                <td>
                    EDI
                    DEL
                </td>
            </tr>
            <tr>
                <td>12</td>
                <td>ガンランス</td>
                <td>12ｍ</td>
                <td>
                    <img src="/static/gunlance.png" style="height:30px"/>
                </td>
                <td>
                    <a href=https://www.youtube.com/watch?v=TJat9r_aEs8 target="_blank">クリック
                    </a>
                </td>
                <td>
                    EDI
                    DEL
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>
　
