<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>ユーザー登録</h1>
    <div>
        ユーザーネーム：<input type="text"/>
    </div>

    <div>
        パスワード：<input type="password"/>
    </div>

    <div>
        性別：<input type="radio" name="male">男性
        <input type="radio" name="female">女性
    </div>

    <div>
        得意な武器：
        <input type="checkbox">狩猟笛
        <input type="checkbox">ランス
        <input type="checkbox">太刀
    </div>

    <div>
        狩人経験
        <select>
            <option>0年~1年</option>
            <option>1~3年</option>
            <option>3年以上</option>
        </select>
    </div>

    <div>
        その他
        <div><textarea rows="5"></textarea></div>
    </div>

    <div>
        <input type="submit" value="提出">
    </div>
</body>
</html>
